body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.promo p {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.cart-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.shipping-section, .summary-section {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 48%;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.item-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.item-details p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.summary-section p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.amount {
    font-weight: bold;
}

.total-amount {
    font-size: 20px;
    font-weight: bold;
    color: #5a2d80;
}

.checkout-btn, .paypal-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.checkout-btn {
    background-color: #5a2d80;
    color: white;
}

.checkout-btn:hover {
    background-color: #5a2d80;
}

.paypal-btn {
    background-color: #ffc439;
    color: #333;
}

.paypal-btn:hover {
    background-color: #e5ae34;
}

.payment-methods {
    margin-top: 20px;
}

.payment-methods p {
    font-size: 14px;
    color: #555;
    text-align: center;
}

.payment-methods .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.payment-methods img {
    width: 50px;
}
